/* Style aux couleurs de Habbo */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f2f2f2; /* Couleur de fond */
}

h1 {
    margin-top: 20px;
    color: #0083FF; /* Bleu Habbo */
}

button {
    background-color: #0083FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

/* Catégories */

.category {
    background-color: #fff;
    color: #000;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.category h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #0083FF; /* Bleu Habbo */
}

.category-actions {
    font-size: 20px;
}

.category-color {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}

/* Listes d'éléments */

ul.elements {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.elements li {
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Bouton de suppression */

button.remove-button {
    background-color: #FF3030; /* Rouge Habbo */
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
}

/* Styles mobiles */

@media (max-width: 600px) {
    button {
        width: 100%;
    }

    ul.elements li {
        font-size: 14px;
    }
}
